@font-face {
  font-family: "Glacial Indifference";
  src: url("/assets/Glacial_Indifference/GlacialIndifference-Regular.otf")
}

/* @font-face {
  font-family: "Tenor Sans";
  font-style: normal;
  font-weight: 400;
  src: local("TenorSans"),
    url("/assets/Tenor_Sans/TenorSans-Regular.ttf") format("truetype");
} */

body {
  font-family: "Tenor Sans", sans-serif;
}

main {
  width: 1240px;
  height: 1754px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  border: black 1px solid;
}

aside {
  flex: 3;
  height: 100%;
  background-color: #253439;
  /* #303030 */
}

section {
  flex: 7;
  /* height: 100%; */
  background-color: #fdfdfd;
  /* #f5f5f5 */
  padding: 50px;
  color: #253439;
}

.photo {
  background-size: cover;
  /* width: 300px;
  height: 100px; */
  overflow: hidden;
  text-align: center;
}

.photo img {
  min-height: auto;
  min-width: auto;
  align-self: flex-start;
}

.asideContent {
  margin: 50px;
  color: #fdfdfd;
}

.name {
  font-weight: 200;
  font-size: 64px;
  letter-spacing: 5px;
  text-transform: uppercase;
  margin-bottom: 30px;
}

.position {
  font-size: 24px;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.summary {
  margin: 30px 0 60px 0;
  font-size: 22px;
  line-height: 200%;
  font-family: "Roboto", sans-serif;
}

.summary ul {
  margin: 0;
}

.chapterHeader {
  font-size: 28px;
  font-weight: bold;
  letter-spacing: 2px;
  text-transform: uppercase;
  position: relative;
  /* margin-bottom: 80px; */
}

.lightDivider::before {
  content: "";
  position: absolute;
  top: -30px;
  left: 0;
  right: 0px;
  height: 2px;
  background-color: #fdfdfd;
}

.lightDivider::after {
  content: "";
  position: absolute;
  bottom: -30px;
  left: 0;
  right: 0px;
  height: 2px;
  background-color: #fdfdfd;
  ;
}

.contactItemHeader {
  margin-top: 50px;
  font-size: 22px;
  font-weight: bold;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.contactItem {
  margin-top: 20px;
  font-size: 22px;
}

.contactItem a {
  text-decoration: none;
  color: #fdfdfd;

}
.darkDivider::before {
  content: "";
  position: absolute;
  top: -30px;
  left: 0;
  right: 0px;
  height: 2px;
  background-color: #253439;
  ;
}

.darkDivider::after {
  content: "";
  position: absolute;
  bottom: -30px;
  left: 0;
  right: 0px;
  height: 2px;
  background-color: #253439;
  ;
}