/* @font-face {
  font-family: "Glacial Indifference";
  font-style: normal;
  font-weight: 400;
  src: local("Glacial Indifference"),
      url("/assets/Glacial_Indifference/GlacialIndifference-Regular.otf")
      format("opentype");
} */

/* @font-face {
  font-family: "Tenor Sans";
  font-style: normal;
  font-weight: 400;
  src: local("TenorSans"),
    url("/assets/Tenor_Sans/TenorSans-Regular.ttf") format("truetype");
} */

/* body {
  font-family: "TenorSans";
} */

main {
  width: 1240px;
  height: 1754px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  border: black 1px solid;
}

aside {
  flex: 3;
  height: 100%;
  background-color: #253439;
  border: black 1px solid;
}

section {
  flex: 7;
  height: 100%;
  background-color: #fdfdfd;
  border: black 1px solid;
}

.photo {
  background-size: cover;
  /* width: 300px;
  height: 100px; */
  overflow: hidden;
  text-align: center;
}

.photo img {
  height: 100%;
  width: auto;
  max-width: 100%;
}

.asideContent {
  margin: 25px;
  font-family: "Tenor Sans", sans-serif;
  color: #fdfdfd;
}

.name {
  font-weight: 200;
  font-size: 64px;
  letter-spacing: 5px;
  text-transform: uppercase;
}

.position {
  font-size: 24px;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.summary {
margin: 40px 0;
}
